name: build-and-test

on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - "**"
      - "!docs/**"
      - "!README.md"
      - "!CONTRIBUTING.md"
      - "!.github/**"
      - .github/workflows/build-and-test.yaml
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rosdistro:
          - humble
    container:
      image: ros:${{ matrix.rosdistro }}-ros-base

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Search ROS packages
        id: list_packages
        run: echo packages=$(colcon list --names-only | tr '\n' ' ') >> $GITHUB_OUTPUT

      - name: Setup ROS environment
        uses: ros-tooling/setup-ros@0.7.8
        with:
          required-ros-distributions: ${{ matrix.rosdistro }}

      - name: Install ccache
        run: |
          apt-get update
          apt-get install -y ccache

      - name: Cache ccache
        uses: actions/cache@v4
        with:
          path: /root/.ccache
          key: ${{ runner.os }}-ccache-${{ matrix.rosdistro }}-${{ hashFiles('**/CMakeLists.txt', '**/package.xml', '**/colcon.*') }}
          restore-keys: |
            ${{ runner.os }}-ccache-${{ matrix.rosdistro }}-

      - name: Build and test
        uses: ros-tooling/action-ros-ci@0.4.5
        with:
          package-name: ${{ steps.list_packages.outputs.packages }}
          target-ros2-distro: ${{ matrix.rosdistro }}
          import-token: ${{ secrets.GITHUB_TOKEN }}
          extra-cmake-args: -DCCACHE_DIR=/root/.ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
